## **ASSIGNMENT-3**

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

### **What is 7 to the power of 4?**

In [ ]:
print(7*7*7*7)

2401

### **Split this string:**

  s = "Hi there Sam!" into a list.

In [ ]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

### **Given the variables:**

      planet = "Earth"
      diameter = 12742 

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter="The diameter of {} is 12742 kilometers".format(planet)
print(diameter)

The diameter of Earth is 12742 kilometers

### **Given this nested list, use indexing to grab the word "hello"**

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2]

['hello']

### **Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d["k1"][3]["tricky"][3]["target"][3]

'hello'

### **What is the main difference between a tuple and a list?**

In [ ]:
#The main differences between lists and tuples are,Lists are enclosed in brackets([]) and their elements and size can be changed,while tuples are enclosed in parentheses

### **Create a function that grabs the email website domain from a string in the form:**

    user@domain.com

### **So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >Ajithnarayana@gmail.com
Your domain is: gmail.com

### **Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")
st = "I take a walk with my dog"
findDog(st)

True

### **Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [ ]:
value = "My neighbor's dog won't eat dry dog food";
def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(value)

1
2


### **Problem**
**You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.**

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(91,False)

'Big Ticket'

In [ ]:
speed="Your speed is more than 81"
caught_speeding(81,True)

'Small Ticket'

### **Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.**

In [ ]:
employee_names = ["Ajith", "Narayana", "Gowtham", "venkat", "Niranjan"]
employee_salaries = {}
for employee in employee_names:
    while True: # Input validation loop
        try:
            employee_salaries[employee] = int(input(f"Enter {employee}'s salary: ")) 
            break
        except ValueError:
            print("Invalid input")
    print(employee_salaries)
    total = sum(employee_salaries.values())
    print(total)

Enter Ajith's salary: 2200000
{'Ajith': 2200000}
2200000
Enter Narayana's salary: 2200000
{'Ajith': 2200000, 'Narayana': 2200000}
4400000
Enter Gowtham's salary: 2500000
{'Ajith': 2200000, 'Narayana': 2200000, 'Gowtham': 2500000}
6900000
Enter venkat's salary: 2600000
{'Ajith': 2200000, 'Narayana': 2200000, 'Gowtham': 2500000, 'venkat': 2600000}
9500000
Enter Niranjan's salary: 2700000
{'Ajith': 2200000, 'Narayana': 2200000, 'Gowtham': 2500000, 'venkat': 2600000, 'Niranjan': 2700000}
12200000

### **Create two dictionaries in Python:**

**one to contain fields as Empid, Empname, Basicpay**

**Second dictionary to contain fields as DeptName, DeptId.**

 **Combine both dictionaries.**

In [ ]:
d1={"Empid":101,
    "Empname":'Ajith', 
    "Basicpay":1200000}
d2={"DeptName":'CSE',  
    "DeptId":199}
print({**d1, **d2})

{'Empid': 101, 'Empname': 'Ajith', 'Basicpay': 1200000, 'DeptName': 'CSE', 'DeptId': 199}